.book-section {
  align-items: center;
  width: 100%;
}

.book-section-one {
  width: 90%;
  background-color: #fff;
  height: 150px;
  margin-left: 3%;
  padding: 20px;
  display: flex;
  border: 1px solid gray;
  margin-bottom: 3rem;
  border-radius: 5px;
}

.action-section span {
  color: grey;
  font-size: 20px;
  margin-bottom: 10px;
}

.action-section p {
  color: rgb(121, 216, 200);
  font-size: 15px;
  margin-top: 10px;
}

.book-changes {
  margin-top: 30px;
  display: flex;
}

.book-changes button {
  margin-right: 10px;
  font-size: 18px;
  color: rgb(121, 216, 200);
  border: none;
  background: none;
  font-weight: normal;
}

.update-progress button {
  margin-top: 10px;
  font-size: 17px;
  background-color: rgb(25, 173, 192);
  color: white;
  border: none;
  padding: 10px;
  border-radius: 10px;
}

.book-changes button:hover {
  cursor: pointer;
}

.vh {
  border-left: 3px solid rgb(121, 119, 119);
  margin-right: 15px;
}

.progress {
  margin-left: 150px;
  display: flex;
  align-items: center;
  margin-right: 40px;
  gap: 15px;
}

.progress .percentage {
  position: relative;
  width: 150px;
  height: 150px;
  transform: rotate(270deg);
}

.progress .percentage svg {
  position: relative;
  width: 150px;
  height: 150px;
}

.progress .percentage svg circle {
  width: 100%;
  height: 100%;
  fill: transparent;
  stroke-width: 7;
  stroke: #bbb9b9;
  transform: translate(5px, 5px);
}

.progress .percentage svg circle:nth-child(2) {
  stroke: var(--clr);
  stroke-dasharray: 350;
  stroke-dashoffset: 0;
}

.output h3 {
  font-size: 40px;
  font-weight: lighter;
}

.output span {
  color: #a5a4a4;
}

.vh2 {
  border-left: 2px solid rgb(121, 119, 119);
  margin-left: 45px;
  height: 100px;
  margin-top: 45px;
}

.update-progress {
  margin-left: 50px;
  gap: 10px;
}

.update-progress span {
  padding-bottom: 70px;
  color: #a5a4a4;
}

.update-progress h4 {
  margin-top: 15px;
  margin-bottom: 15px;
  font-size: 18px;
  color: #5e5c5c;
}

.update-progress button:hover {
  cursor: pointer;
}

.hl {
  border-top: 2px solid grey;
  margin-top: 10px;
  margin-bottom: 20px;
  width: 94%;
  margin-left: 3%;
}

.addBook-container h2 {
  margin-left: 70px;
  margin-bottom: 20px;
  color: #7c7a7a;
}

.addBook-content {
  margin-left: 70px;
  margin-bottom: 3rem;
}

.addBook-content .input-text {
  width: 43%;
  height: 40px;
  margin-right: 55px;
  padding-left: 10px;
  font-size: 18px;
  border-radius: 5px;
  border: 1px solid gray;
}

.drop-down-input {
  width: 21%;
  height: 40px;
  padding-left: 10px;
  margin-right: 55px;
  border-radius: 5px;
  border: 1px solid gray;
}

.addBtn {
  font-size: 20px;
  width: 13%;
  padding: 10px;
  border-radius: 5px;
  background-color: rgb(25, 173, 192);
  color: #fff;
  border: none;
  height: 40px;
}

.addBtn:hover {
  cursor: pointer;
}

@media screen and (max-width: 768px) {
  .book-section-one {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .book-title {
    text-align: center;
  }

  .book-changes {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin-top: 20px;
  }

  .progress {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 20px;
  }

  .output {
    text-align: center;
  }

  .update-progress {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 20px;
    width: 10px;
  }
}
