.book-section {
  align-items: center;
  width: 100%;
}

.book-section-one {
  width: 90%;
  background-color: #fff;
  height: 150px;
  margin-left: 3%;

  /* padding: 20px; */
  padding-right: 20px;
  padding-top: 10px;
  padding-left: 10px;
  display: flex;
  border: 1px solid gray;
  margin-bottom: 3rem;
  border-radius: 5px;
}

.action-section span {
  color: grey;
  font-size: 20px;
  margin-bottom: 10px;
}

.action-section p {
  font-size: 0.875rem;
  font-weight: 300;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: normal;
  color: #4386bf;
}

.book-title h2 {
  color: #121212;
  font-size: 1.375rem;
  font-weight: bold;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: -0.2px;
}

/* .book-title p{
  font-family: RobotoSlab;
  font-size: 0.875rem;
  font-weight: 300;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: normal;
  color: #4386bf;
} */

.book-changes {
  margin-top: 30px;
  display: flex;
}

.book-changes button {
  margin-right: 10px;
  font-size: 15px;
  color: #4386bf;
  border: none;
  background: none;

  /* font-weight: normal; */
}

.update-progress button {
  margin-top: 10px;
  font-size: 13px;
  background-color: #0290ff;
  color: white;
  border: none;
  padding: 10px;
  border-radius: 10px;
  width: 60%;
}

/*
.update-progress button{
  width: 100%;

  font-size: 15px;
  margin-bottom: 100px;

} */

.book-changes button:hover {
  cursor: pointer;
}

.vh {
  border-left: 1px solid rgb(121, 119, 119);
  margin-right: 15px;
}

.progress {
  margin-left: 50px;
  display: flex;
  align-items: center;
  margin-right: 30px;
}

.progress .percentage {
  position: relative;
  width: 150px;
  height: 150px;
  transform: rotate(270deg);
  margin-bottom: 40px;
}

.progress .percentage svg {
  position: relative;
  width: 150px;
  height: 150px;
}

.progress .percentage svg circle {
  width: 100%;
  height: 100%;
  fill: transparent;
  stroke-width: 6;
  stroke: #bbb9b9;
  transform: translate(5px, 5px);
}

.progress .percentage svg circle:nth-child(2) {
  stroke: var(--clr);
  stroke-dasharray: 350;
  stroke-dashoffset: 150;
}

.output h3 {
  font-size: 40px;
  font-weight: lighter;
}

.output span {
  color: #a5a4a4;
}

.vh2 {
  border-left: 2px solid rgb(196, 194, 194);
  margin-left: 45px;
  height: 70px;
  margin-top: 20px;
}

.update-progress {
  width: 100%;
  margin-left: 10%;
  gap: 10px;
  padding-bottom: 10px;
}

.update-progress span {
  padding-bottom: 70px;
  color: #a5a4a4;
}

.update-progress h4 {
  margin-top: 15px;
  margin-bottom: 15px;
  font-size: 18px;
  font-weight: 300;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: -0.4px;
  color: #121212;
}

.update-progress button:hover {
  cursor: pointer;
}

.hl {
  border-top: 2px solid grey;
  margin-top: 10px;
  margin-bottom: 20px;
  width: 85%;
  margin-left: 5%;
}

.addBook-container h2 {
  margin-left: 70px;
  margin-bottom: 20px;
  color: #7c7a7a;
}

.addBook-content {
  margin-left: 70px;
  margin-bottom: 3rem;
}

.addBook-content .input-text {
  width: 43%;
  height: 40px;
  margin-right: 55px;
  padding-left: 10px;
  font-size: 18px;
  border-radius: 5px;
  border: 1px solid gray;
}

.drop-down-input {
  width: 21%;
  height: 40px;
  padding-left: 10px;
  margin-right: 55px;
  border-radius: 5px;
  border: 1px solid gray;
}

.addBtn {
  font-size: 20px;
  width: 13%;
  padding: 10px;
  border-radius: 5px;
  background-color: #0290ff;
  color: #fff;
  border: none;
  height: 40px;
  margin-left: 40px;
}

.addBtn:hover {
  cursor: pointer;
}

@media screen and (max-width: 768px) {
  .update-progress button {
    margin-top: 10px;
    font-size: 15px;
    color: white;
    border: none;
    padding: 10px;
    border-radius: 10px;
    width: 80%;
  }
}
