* {
  margin: 0;
  padding: 0;
}

body {
  background-color: rgb(235, 233, 230);
}

.App {
  width: 100%;
}

.book {
  margin-top: 20px;
  padding-left: 20px;
}

.categories {
  margin-top: 20px;
  padding-left: 20px;
}

.login {
  margin-left: 28%;
  color: rgb(0, 174, 255);
  font-size: 25px;
  border-radius: 70%;
  border: 1px solid gray;
  width: 60px;
  padding-bottom: 10px;
  height: 60px;
  background-color: rgb(245, 247, 247);
}

.login:hover {
  cursor: pointer;
}
