* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: #f5f6fa;
  width: 100%;
}

.App {
  width: 100%;
}

.book {
  margin-top: 20px;
  max-width: 100%;
}

.categories {
  margin-top: 20px;
  padding-left: 20px;
}

.login {
  margin-left: 30%;
  color: rgb(0, 174, 255);
  font-size: 22px;
  border-radius: 70%;
  border: 1px solid gray;
  width: 5%;
  padding-bottom: 5px;
  height: 55px;
  background-color: rgb(245, 247, 247);
  float: right;
}

.login:hover {
  cursor: pointer;
}

@media screen and(max-width: 768px) {
  .app {
    width: 100%;
  }
}
